spring:
  application:
    name: auth-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 30
        order_updates: true
        order_inserts: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 60000
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    publisher-confirm-type: correlated
    publisher-returns: true
    template:
      retry:
        enabled: true
        initial-interval: 1000
        max-attempts: 3
        multiplier: 2

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}

server:
  port: 8000


jwt:
  private-key-path: classpath:keys/private_key.pem
  public-key-path: classpath:keys/public_key.pem
  access-token-expiration: ${JWT_ACCESS_EXPIRATION:900000}
  time-to-live: ${JWT_TTL:604800000}

internal:
  secret-key: ${INTERNAL_SECRET_KEY}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI}

logging:
  level:
    org.springframework.web: debug
    org.springframework.security: debug

cookie:
  domain: ${COOKIE_DOMAIN:localhost}
  secure: ${COOKIE_SECURE:false}
  same-site: ${COOKIE_SAME_SITE:Lax}
  time-to-live: ${JWT_TTL:604800000}

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      show-details: always