spring:
  application:
    name: api-gateway
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}


  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - StripPrefix=1
          routes:
            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/api/auth/**,/api/user/**,/api/system/**
            - id: core-service
              uri: lb://core-service
              predicates:
                - Path=/api/project/**,/api/tasks/**
              filters:
                - JwtAuthenticationFilter
            - id: activity-service
              uri: lb://activity-service
              predicates:
                - Path=/api/activity/**
              filters:
                - JwtAuthenticationFilter
            - id: notification-service
              uri: lb://notification-service
              predicates:
                - Path=/api/notifications/**
              filters:
                - JwtAuthenticationFilter
            - id: ai-service
              uri: lb://ai-service
              predicates:
                - Path=/api/ai/**
              filters:
                - JwtAuthenticationFilter

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}

server:
  port: 1004

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:5173}