spring:
  application:
    name: api-gateway


  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - StripPrefix=1
          routes:
            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/api/auth/**,/api/user/**
            - id: core-service
              uri: lb://core-service
              predicates:
                - Path=/api/project/**,/api/tasks/**

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}

server:
  port: 1004