spring:
  application:
    name: core-service

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/core_db}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 30
        order_updates: true
        order_inserts: true
        generate_statistics: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  cache:
    type: redis

server:
  port: 8001
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
internal:
  secret-key: ${INTERNAL_SECRET_KEY}
logging:
  level:
    org.springframework.security: debug
    org.springframework.web: debug
    org.hibernate.stat: DEBUG
    org.hibernate.jdbc.batch: DEBUG