spring:
  application:
    name: core-service

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/core_db}
    username: ${DB_USERNAME:tuan}
    password: ${DB_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 30
        order_updates: true
        order_inserts: true
        generate_statistics: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  cache:
    type: redis
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}
    publisher-confirm-type: correlated
    publisher-returns: true
    template:
      retry:
        enabled: true
        initial-interval: 1000
        max-attempts: 3
        multiplier: 2

server:
  port: 8001
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
internal:
  secret-key: ${INTERNAL_SECRET_KEY:dHXhuqVuMjAyMTQxMzM=}

jwt:
  public-key-path: classpath:keys/public_key.pem


logging:
  level:
    org.springframework.security: debug
    org.springframework.web: debug
    org.hibernate.stat: DEBUG
    org.hibernate.jdbc.batch: DEBUG

app:
  frontend-url: ${FRONTEND_URL:http://localhost:5173}